package ${Configuration.getBasePackageName()}.controller;
import ${Configuration.getBasePackageName()}.service.${entity.entityName}Service;
import org.springframework.beans.factory.annotation.Autowired;

public class ${entity.entityName}Controller {
   @Autowired
   private  ${entity.entityName}Service  ${StringUtils.uncapFirst(${entity.entityName})}Service;


}

