package ${Configuration.getBasePackageName()}.serviceImpl;

import ${Configuration.getBasePackageName()}.entity.${entity.entityName};
import ${Configuration.getBasePackageName()}.service.${entity.entityName}Service;
import ${Configuration.getBasePackageName()}.dao.${entity.entityName}Dao;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

@Component
public class ${entity.entityName}ServiceImpl  implements ${entity.entityName}Service{

     @Autowired
     private ${entity.entityName}Service ${StringUtils.uncapFirst(${entity.entityName})}Service;

     @Autowired
     private  ${entity.entityName}Dao  ${StringUtils.uncapFirst(${entity.entityName})}Dao;

    /**
      * 保存新增的对象.
      */
     public void save(${entity.entityName} ${StringUtils.uncapFirst(${entity.entityName})}){
         ${StringUtils.uncapFirst(${entity.entityName})}Dao.save(${StringUtils.uncapFirst(${entity.entityName})});
     }

   /**
     * 修改对象.
     */
     public void modify(${entity.entityName} ${StringUtils.uncapFirst(${entity.entityName})}){
         ${StringUtils.uncapFirst(${entity.entityName})}Dao.modify(${StringUtils.uncapFirst(${entity.entityName})});
     }

   /**
     * 删除对象.
     */
     public void delete${entity.entityName}(${entity.entityName} ${StringUtils.uncapFirst(${entity.entityName})}){
         ${StringUtils.uncapFirst(${entity.entityName})}Dao.delete(${StringUtils.uncapFirst(${entity.entityName})});
     }

   /**
     * 按id删除对象.
     */
    public void delete${entity.entityName}ById(int ${StringUtils.uncapFirst(${entity.entityName})}Id){
         ${StringUtils.uncapFirst(${entity.entityName})}Dao.delete${entity.entityName}ById(${StringUtils.uncapFirst(${entity.entityName})}Id);
    }

   /**
     * 按id获取对象.
     */
    public ${entity.entityName} get${entity.entityName}ById(int ${StringUtils.uncapFirst(${entity.entityName})}Id){
         ${StringUtils.uncapFirst(${entity.entityName})}Dao.get${entity.entityName}ById(${StringUtils.uncapFirst(${entity.entityName})}Id);
    }
}

