package ${Configuration.getBasePackageName()}.service;
import ${Configuration.getBasePackageName()}.entity.${entity.entityName};

public interface ${entity.entityName}Service {
/**
* 保存新增的对象.
*/
void save(${entity.entityName} ${StringUtils.uncapFirst(${entity.entityName})});

/**
* 修改对象.
*/
void modify(${entity.entityName} ${StringUtils.uncapFirst(${entity.entityName})});

/**
* 删除对象.
*/
void delete${entity.entityName}(${entity.entityName} ${StringUtils.uncapFirst(${entity.entityName})});

/**
* 按id删除对象.
*/
void delete${entity.entityName}ById(int ${StringUtils.uncapFirst(${entity.entityName})}Id);

/**
* 按id获取对象.
*/
${entity.entityName} get${entity.entityName}ById(int ${StringUtils.uncapFirst(${entity.entityName})}Id);

}

